/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
     background-color: #f0efef;
     font-family: 'Open Sans', sans-serif;
     line-height: 1.8;
}

.button.getitnow
{
  background-color: #f9e42e;
  margin: 100px 0px 0px 350px;
  color: #033048;
  font-size: 14px;
  font-weight: 800;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.benefits{
  padding: 100px;
}

.benefits h2{
  font-size: 20px;
  font-weight: 600px;
  color: #033048;
}

.benefits p, .benefits ul{
  font-size: 13px;
  font-weight: 300px;
  max-width: 380px;
    color: #033048;/*create a width so that the text can transform into two lines*/
}


.benefits ul{
  margin: 30px 0 0 30px;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #cccccc;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
 width: 80%;
 margin: 0 auto;
 padding-top: 20px;
}

header h1 {
  color: white;
  font-size: 24px;
  font-weight: 800;

}
header h2 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.button-container {
  text-align: center;
}

.testimony p {
  text-align: center;
}

.testimony p h2 {
  text-align: center;
}
.signupnow{
  background-color: #F4FA58;
  padding: 20px 0;
}

.button.signupnow{
  background-color: #033048;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 800;
  margin: 0 auto;
}


footer
{
  background-color: #2E2E2E;
  padding: 50px 0;
  text-align: center;
  color: #ffffff;
}

footer p {
  font-size: 9px;
  font-weight: 600;
  padding-top: 10px;

}

footer h2 {
color: #F4FA58;
}
.benefits{
  background-color: white;
}
