@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
}
header {
	background-color: #033048;
	padding: 15px 0 0 15px;
}
.companylogo {
	font-size: 48px;
	color: #ffffff;
	float: left;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #033048;
}
li {
	float: right;
}
li a {
	display: block;
	color: #f9e42e;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
}
li a:hover {
	background-color: #00B1FF;
}
.maincol {
	width: 700px;
	float: left
}
.postit {
	font-size: 40px;
	font-weight: 600;
}
.sidebar {
	width: 240px;
	float: right;
}
.sidebar ul {
	background-color:#ffffff;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li{
	font-size:24px;
	font-weight:300;
	display:block;
	clear:both;
	float:left;
}
.cathead {
	font-size: 32px;
	font-weight: bolder;
}
article {
	padding: 15px;
}
article img {
	margin: 15px;
}
