body {
  color: green;
  background-color: white;
}

h1 {
  font-size: 50px;
  color: blue;
  text-decoration: underline;
  font-family: cursive;
  background: pink;

}

p {
  font-size: 30px;
  color: blue;
  font-family: cursive;


}

h2 {
  font-size: 20px;
  color: blue;
  font-family: cursive;

}

.portfolio {
  float: right;
}


.about {
  float: right;
}
