<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Simple Marketing Layout</title>
        <link rel='stylesheet' href='simple-marketing.css'>
    </head>
    <body>
        <div>
            <header>
                This is the header        
            </header>
            
                <section class='second-row'>
                    Section 1
                </section>   
                <section class='second-row'>
                    Section 2
                </section>

            <div class='third-row'>
                <section>
                    Section 1A
                </section>   
                <section>
                    Section 2A
                </section>
                <section>
                    Section 3A
                </section>
            </div>
            <footer>
                This is the footer 
            </footer>
        <div>
    </body>
</html>
