header {background-color: #033048;
color:#f9e42e;}

body {
font-family: 'Open Sans';  

}
h1 {
  color: white;
float: left;
}

nav {
  float: right;
  font-weight: bold;
  font size: 24px;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

a {
  color: #f9e42e;
  text-decoration: none;
}

.clearfix:after {
  content:".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

main, .sidebar {
  display: inline-block;
  vertical-align: top;
}

main {
  width: calc(100% - 255px);
}

.sign-up {
  background-color: #f0efef;
  text-align: center;
}

.sign-up a {
  background: #033048;
  color: white;
}
footer {background: #121212;
color:#f9e42e;
  text-align: center;
}

sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
